@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #1e1e1e;
        color: #fefefe;
        font-family: 'Lato', sans-serif;
    }

    textarea {
        resize: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: #fefefe;
        -webkit-box-shadow: 0 0 0px 1000px #333 inset;
    }

    .load-spinner div:nth-child(2) {
        animation-delay: -0.625s;
    }

    .responsive-grid-300 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    }
}

/* File input */
input::-webkit-file-upload-button {
    @apply bg-primary-main text-light-main mr-4 flex-col border-none py-2 px-3 sm:flex;
}

/* Floating label inputs */
.text-input input:focus-within ~ label,
.text-input input:not(:placeholder-shown) ~ label,
.text-input input:-webkit-autofill ~ label,
.text-input input:-webkit-autofill:focus ~ label {
    @apply text-primary-alt -translate-y-6 scale-75 transform;
}

/* Table */
.table-responsive th,
.table-responsive td {
    @apply whitespace-nowrap;
}
