@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #1e1e1e;
        color: #fefefe;
        font-family: 'Lato', sans-serif;
    }

    table {
        width: 100%;
    }

    table thead tr {
        background-color: #252526;
    }

    table tbody tr:nth-of-type(even) {
        background-color: #333;
    }

    table tr th,
    table tr td {
        padding: 10px;
    }

    textarea {
        resize: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: #fefefe;
        -webkit-box-shadow: 0 0 0px 1000px #333 inset;
    }
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-6;
}

input:focus-within ~ label {
    @apply text-primary-alt;
}
